html {
  background-color: #0052A5;
}

body {
  font-size: 12pt;
  font-family: sans-serif;
  line-height: 1.45em;
  letter-spacing: 1px;
  word-spacing: 3px;
}

p {
  text-indent: 1.5em;
}

img {
  float: left;
}

h1 {
  font-family: BabelSans;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  font-variant: small-caps;
  letter-spacing: 5px;
  word-spacing: 5px;
  color: #00C590;
}

.nav {
  border-style: ridge;
  border-width: 5px;
  border-color: #403B3A;
  width: 95%;
  height: 35px;
  font-size: 20pt;
  display: inline-block;
  margin-bottom: 100px;
  background-color:#8C65D3;
  line-height: 1.45em;
  letter-spacing: 0.125em;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 18px;
  margin-left: 18px;
  float: left;
  display: inline-block;
  text-align: center;
  word-spacing: 15px;
}

.nav a {
  background-color: #9A93EC;
  color: #8C65D3;
  text-decoration: none;
  border-right: solid #668D3C;
  border-left: solid #668D3C;
  text-align: center;
}

.nav a:hover {
  background-color: #00ADCE;
  color: #73EBAE;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    background-color: #3e8e41;
}

.header {
  border-style: ridge;
  border-width: 5px;
  border-color: #403B3A;
  width: 95%;
  height: 145px;
  background-color: #004159;
  text-decoration: none;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  margin: 3px;
  padding: 6px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.content-1{
  border-style: ridge;
  border-width: 5px;
  border-color: #403B3A;
  width: 45%;
  background-color: #413BF7;
  color: #9EE7FA;
  text-align: right;
  float: left;
  border-bottom-left-radius: 30px;
  padding: 6px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin: 3px;
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
}
.content-2{
  border-style: ridge;
  border-width: 5px;
  border-color: #403B3A;
  width: 45%;
  background-color: #413BF7;
  color: #9EE7FA;
  text-align: left;
  float: left;
  clear: right;
  border-bottom-right-radius: 30px;
  padding: 6px;
  padding-top: 5px;
  padding-left: 35px;
  padding-bottom: 10px;
  margin: 3px;
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
}

.text-element::first-letter {
  color: turquoise;
  font-size: 20pt;
}

