html {
  background-color: #4E6172;
}

body {
  font-size: 13pt;
  color: black;
  font-family: sans-serif;
  line-height: 1.45em;
  letter-spacing: 0.125em;
  word-spacing: 1.5px;
  padding: 8px;
}

h1 {
  font-family: BrushScriptStd;
  font-size: 52pt;
  text-align: center;
  font-variant: small-caps;
  letter-spacing: 0.175em;
  word-spacing: 1px;
}

h2 {
  font-size: 33pt;
  text-align: left;
  font-family: BabelSans-Bold;
  letter-spacing: 0.1em;
  word-spacing: 1px;
}

h4 {
  font-size: 20pt;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  word-spacing: 1px;
  text-transform: capitalize;
}

.main-container {
  min-width: 528px;
  max-width:  528px;
}

.header {
  min-width: 528px;
  max-width:  528px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #855723;
  color: #493829;
  line-height: 5em;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
}

.nav {
  min-width: 100px;
  max-width:  100px;
  font-size: 15pt;
  display: block;
  margin-bottom: 100px;
  background-color: #816C5B;
  list-style-type: none;
  line-height: 1.45em;
  letter-spacing: 0.125em;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 12px;
  margin-left: 12px;
  min-width: 120px;
  max-width:  528px;
  height: 120px;
  float: left;
}

.nav a {
  color: #25473c;
  text-decoration: none;
  border-right: solid #668D3C;
  border-left: solid #668D3C;
  text-align: justify;
}

.nav a:hover {
  background-color: #A9A18C;
}

.content {
  min-width: 528px;
  max-width: 528px;
  background-color: #404F24;
  text-align: justify;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
}

.footer {
  font-size: 10pt;
  height: 60px;
  min-width: 528px;
  max-width:  528px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #D57500;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
}
